*{
    margin: 5px;
    padding: 5px;
}

html{
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/05/12/38/fuzzy-1800136_960_720.jpg");
    background-size: 100%;
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

#container{

    overflow: auto;
    display:flex;
    /*border: black solid;*/
}
header{
    margin: 15px;
    background-color: #002d7caf;
    border-radius: 4px;
    color: white;
    padding: 40px;
}
aside{
    width: 18%;
    float: left;
    padding: 0;
    background-color: rgba(116, 116, 116, 0.548);
    border-radius: 10px;
    color: white

}
.links-header {
    /*background-color: rgba(116, 116, 116, 0.849);*/
    background-image: url("poly.png");
    color: rgb(53, 52, 63);
    margin: 0px;
    padding: 20px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
article{
    position: relative;
    background-color: rgba(116, 116, 116, 0.548);
    padding: 20px;
    height: 620px;
    width: 82%;
    overflow: hidden;

}
footer{
    background-color: #EEEEEE;
    color: black;
    border: 4px black solid;
    clear:both
}
.tile{
    position: absolute;
    margin: 20px;
    width: 47%;
    height: 42%;
    background: rgba(255, 213, 159, 0.726);
    background-size: 100%;
    /*background-color: rgba(116, 116, 116, 0.849);*/
    border-radius: 10px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
 
}

#top-left{
    top: 0;
    left: 0;
}

#top-right{
    top: 0;
    right: 0;
}

#bottom-left{
    bottom: 0;
    left: 0;
}

#bottom-right{
    bottom: 0;
    right: 0;
}



.tile-window{
    position: absolute;
    top: 35px;
    bottom: 10px;
    left: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 10px;
    overflow: auto;


}



.tile:hover{
    background: rgb(252, 195, 91);
    width: 90%;
    height: 85%;
    transition: .5s;
    cursor: pointer;
    z-index: 1;
}

