:root{
    --page-background : url("https://cdn5.vectorstock.com/i/1000x1000/51/79/light-blue-triangle-background-design-geometric-vector-16075179.jpg"); 
    --header-background:  rgb(119, 122, 122);
    --header-border: 0px rgb(95, 46, 0) solid;
    --main-border: 0px rgba(0, 63, 92, 0.795) solid;
    --main-background: rgb(247, 247, 237);
	--page-headings-background: rgb(190, 209, 209);
}

*{
    margin: 5px;
    padding: 5px;
    font-family: "Arial";

}

h1{
	font-size: 15pt;
}

h2 {
	font-size: 10pt;
}

h3 {
	font-size: 10pt;
}
html{
    margin: 0;
    padding: 0;
    background-image: var(--page-background);
    background-size: 100%;
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}


#container{
    margin-left: 0;
    padding: 0;
    overflow: auto;
    display:flex;
    /*border: black solid;*/
}
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    margin: 0px;
    margin-bottom: 50px;
    background-color:  var(--header-background);
    border-bottom: var(--header-border);
    border-radius: 4px;
    color: var(--main-background);
    padding: 5px;

}
aside{
    margin-left: 0;
    padding: 0;
    width: 16%;
    float: left;
    background-color: var(--main-background);
    border-top: var(--main-border);
    border-right: var(--main-border);
    border-bottom: var(--main-border);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white

}
.links-header {
    /*background-color: rgba(116, 116, 116, 0.849);*/
    background:  var(--page-headings-background); 
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 8px;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
article{
    position: relative;
    background-color:  var(--main-background);
    border: var(--main-border);
    border-radius: 10px;
    padding: 20px;
    margin-left: 110px;
    height: 620px;
    width: 75%;
    overflow: hidden;

}
footer{
    margin-top: 30px;
    background-color: #EEEEEE;
    color: black;
    border: 2px black solid;
    clear:both
}
.tile{
    position: absolute;
    margin: 20px;
    width: 47%;
    height: 42%;
    background: var(--page-headings-background); 
    background-size: 100%;
    /*background-color: rgba(116, 116, 116, 0.849);*/
    border-radius: 10px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
 
}

#top-left{
    top: 0;
    left: 0;
}

#top-right{
    top: 0;
    right: 0;
}

#bottom-left{
    bottom: 0;
    left: 0;
}

#bottom-right{
    bottom: 0;
    right: 0;
}



.tile-window{
    position: absolute;
    top: 35px;
    bottom: 10px;
    left: 5px;
    right: 5px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    overflow: auto;


}

.tile:hover{
    background: rgb(71, 255, 204);
    border: var(--main-border);
    width: 90%;
    height: 85%;
    transition: .5s;
    cursor: pointer;
    z-index: 1;
}

