*{
    margin: 12px;
}

html{

    margin: 0;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/05/12/38/fuzzy-1800136_960_720.jpg");
    background-size: 100%;

}
body{

    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    padding: 0;
}

#container{
    margin-left: 0;
    margin-right: 0;
    overflow: auto;
    /*border: black solid;*/
}
header{
    
    background-color: #002d7caf;
    border-radius: 4px;
    color: white;
    padding: 50px;
}
aside{

    width: 350px;
    height: 600px;
    float: left;
    background-color: rgba(116, 116, 116, 0.548);
    border-radius: 10px;
    color: white

}
.links-header {
    /*background-color: rgba(116, 116, 116, 0.849);*/
    background-image: url("poly.png");
    color: rgb(53, 52, 63);
    margin: 0px;
    padding: 20px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
article{
    background-color: rgba(116, 116, 116, 0.548);
    height: 600px;
    overflow: auto;
}
footer{
    background-color: #EEEEEE;
    color: black;
    border: 4px black solid;
    clear:both
}
.tile{
    margin: 20px;
    padding: 20px;
    height: 400px;
    background-image: url("poly.png");
    background-size: 100%;
    /*background-color: rgba(116, 116, 116, 0.849);*/
    border-radius: 10px;
    color: rgb(53, 52, 63);
}

