:root{
    --page-background : "images/blue-poly.png"; 
    --header-background:  rgb(119, 122, 122);
    --header-border: 0px rgb(95, 46, 0) solid;
    --main-border: 0px rgba(0, 63, 92, 0.795) solid;
    --main-background: rgba(255, 255, 255, 0.123);
	--page-headings-background: rgb(190, 209, 209);
}

*{
    margin: 5px;
    padding: 5px;
    font-family: "Arial";

}


h2 {
	font-size: 10pt;
}

h3 {
	font-size: 10pt;
}
html{
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);/*var(--page-background);*/
    background-size: 100%;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}


#container{
    margin-left: 0;
    padding: 0;
    overflow: auto;
    display:flex;
    /*border: black solid;*/
}
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    margin: 0px;
    margin-bottom: 50px;
    background-color:  rgba(255, 255, 255, 0.301);
    color:black;
    padding: 5px;
    overflow: hidden;

}

.title{
    float: left;
    font: 30px;
    color: rgb(213, 228, 255);
}
.navigation-panel{
    float: right;
}

.navigation-button{
    border-radius: 20px;
    height: 40px;
}
aside{
    margin-left: 0;
    padding: 0;
    width: 16%;
    float: left;
    background-color: var(--main-background);
    border-top: var(--main-border);
    border-right: var(--main-border);
    border-bottom: var(--main-border);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white

}
.links-header {
    /*background-color: rgba(116, 116, 116, 0.849);*/
    background:  var(--page-headings-background); 
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 8px;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
article{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 350px 350px 350px;
    background-color:  var(--main-background);
    border: var(--main-border);
    border-radius: 10px;
    padding: 0px;
    margin-left: 110px;
    height: 700px;
    width: 75%;
    overflow: auto;

}

.tile{
    margin: 15px;
    background: var(--page-headings-background); 
    border-radius: 10px;
    color: rgb(0, 0, 0);
    overflow: hidden;
}



.tile-window{
    background-color: rgb(255,255,255);
    border-radius: 10px;
    height: 80%;
    overflow: auto;
}

.tile-window-not-implemented{
    background-image: url("images/mountains-light.png");
    border-radius: 10px;
    height: 80%;
    overflow: auto;
}

/*
.tile:hover{
    background: rgb(71, 255, 204);
    border: var(--main-border);
    width: 90%;
    height: 85%;
    transition: .5s;
    cursor: pointer;
    z-index: 1;
}

*/

footer{
    margin-top: 30px;
    background-color: #EEEEEE;
    color: black;
    border: 2px black solid;
    clear:both
}