html{
    background-color: lightgray;
    padding: 0px;
    margin: 0;
    font-family: monospace;
}

.container {
    height: 100%;
    background-image: url("https://images.freecreatives.com/wp-content/uploads/2016/02/Subtle-Clouds-Texture-Pattern.jpg");
    /*background-color: rgb(240, 240, 240);*/
}

header {
    padding: 10px;
    font-size: 20px;
    margin: 0;
    background-color: lightblue;
}

#minesweeper-header {
    font-weight: bold;
    margin-bottom: 15px;
    padding: 5px;
    background-color: lightgray;
    border: 5px gray inset;
   
}

#game-frame {
    background-color: rgb(93, 102, 107);
    border: 8px rgb(134, 145, 151)outset;
    padding: 10px;
    position: absolute;
    left: 10%;
    top: 10%;
}

#game-grid-container {
    position: relative;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat (10, 40px);
}

.game-grid-cell {
    line-height: 38px;
    font-display: center;
    font-weight: bold;
    /*border: 1px gray solid;*/
    height: 40px;
    font-size: 25pt;
    text-align: center;
}

.game-grid-button {
    background-image: url('images/button-grass.png');
    box-shadow: none;
    width: 40px;
    height: 40px;
}

#options {
    padding: 5px;
    margin: 5px;
}

.game-grid-button:hover {
    background-color: rgb(153, 152, 152);
}

#message {
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 15px;
}
